/* You can add global styles to this file, and also import other style files */
.page-container {
  max-width: 100vw;
  min-height: 100vh;
}

/* .p-card-content {
  margin: auto;
  width: 300px !important;
} */
